#footer {
  position: absolute;
  bottom: 0;
  height: 3.5rem;
}

.footer-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 0;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: inherit;
  text-decoration: none;
}