header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
  
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
header .bg-container {
  position: relative;
  z-index: 2;
}
  
header .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.scroll-anim a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll-anim a:hover {
  opacity: .5;
}

#scroll-button a {
  padding-top: 70px;
}

#scroll-button a span {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.title-text {
  text-shadow: 1px 1px 15px #000000;
}

blockquote p {
  font-style: italic;
}

.card-img-overlay span {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.body-link, .body-link:link, .body-link:hover, .body-link:active {
  color: #FEB255;
}

.overlay {
  position: absolute; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  width: 100%;
  transition: 1s ease;
  opacity:0;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
}
  
.char-container:hover .overlay {
  opacity: 1;
}

.alt-font {
  font-family: 'Chakra Petch', sans-serif;
}

.alt-font-size {
  font-size: 1.25rem;
}

.stream {
  background: linear-gradient(0deg, rgba(20,77,165,1) 0%, rgba(7,7,39,1) 70%);
}

.stream-font {
  font-family: 'Quicksand', sans-serif;
}

.hover-scale {
  transition: all 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.07);
}