.nav-wrapper {
    margin-bottom: 6.5em;
  }

.link-effect::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
  
.link-effect {
@include hover-supported() {
    width: 100%;
}
}