* {
	padding: 0;
  margin: 0;
  font-family: 'Russo One', sans-serif;
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@import "./mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 1200px,
  xl: 1201px,
  xxl: 1440px,
  xxxl: 1600px
);

body {
    background-color: #18191C !important;
}

$theme-colors: (
  "dark": rgb(12, 12, 12)
  );

.wow {
  animation-duration: 3.5s;
  animation-delay: 0.4s;
}

:target {
  padding-top: 75px;
  margin-top: -75px;
}

.form-font * {
  font-family: 'Quicksand', sans-serif;
}

$navbar-dark-color: white;
$navbar-dark-hover-color: white;
$lead-font-size: 1.5rem;
$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./nav";
@import "./main";
@import "./footer";